.primary {
    cursor: pointer;
    min-height: 48px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0px #919191;
    border: 1px solid #1A1446;
    border-radius: 3px;
    color: #1A1446;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "roboto Bold", sans-serif;
    font-size: 16px;

    &:hover {
        background-color: #06748C;
        box-shadow: 0px 3px 0px #1A1446;
        border: 1px solid #06748C;
        color: #ffffff;
    }

    &:active {
        box-shadow: 0px 1px 0px #1A1446;
    }

    &:disabled {
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        color: #565656;
    }
}

.secondary {
    cursor: pointer;
    /* min-width: 252px; */
    min-height: 48px;
    background-color: #99E3EA;
    box-shadow: 0px 3px 0px #06748C;
    border: 1px solid #99E3EA;
    border-radius: 3px;
    color: #1A1446;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15.48px 70.6px 13.52px 67.4px; */
    font-family: "roboto Bold", sans-serif;
    font-size: 16px;

    &:hover {
        background-color: #06748C;
        box-shadow: 0px 3px 0px #1A1446;
        border: 1px solid #06748C;
        color: #ffffff;
    }

    &:active {
        box-shadow: 0px 1px 0px #1A1446;
    }

    &:disabled {
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        color: #565656;
    }
}