.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #1e1045;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  position: fixed;
  background: #fff;
  width: 626px;
  text-align: center;
  opacity: 1;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}