.div_root {
  /* Layout Properties */
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* left: 407px; */
  width: 626px;
  height: 513px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 10px; */
  padding: 40px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 5px;
}

.title {
  /* Layout Properties */

  width: 476px;
  height: 43px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-32) / 38.4px
    var(--unnamed-font-family-roboto-medium);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1446);
  text-align: center;
  /* font: normal normal medium 32px/38px "roboto Medium"; */
  font-size: 30px;
  font-family: "roboto Medium";
  letter-spacing: 0px;
  color: #1a1446;
  opacity: 1;
  margin-bottom: 10px;
}

.div_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text1 {
  /* Layout Properties */
  width: 464px;
  height: 45px;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-343741);
  text-align: center;
  letter-spacing: 0px;
  color: #343741;
  opacity: 1;
  font-family: "roboto Medium";
}

.text_num_quotation {
  margin-top: 15px;
  width: 464px;
  height: 74px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-343741);
  text-align: center;
  letter-spacing: 0px;
  color: #343741;
  opacity: 1;
}

.text_num_quotation span {
  top: 0px;
  left: 247px;
  width: 62px;
  height: 14px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-12) / 19.2px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-28a3af);
  text-align: center;
  font: normal normal bold 12px/19px Roboto;
  letter-spacing: 0px;
  color: #28a3af;
}

.div_btn {
  margin: 0px;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #99e3ea;
  width: 242px;
  height: 48px;
  color: #1a1446;
  border: 1px solid;
  box-shadow: 0px 3px 0px #06748c;
  border: 1px solid #99e3ea;
  border-radius: 5px;
  font-size: 16px;
  font-family: "roboto Bold", "Roboto";
  margin-right: 10px;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  /* Suaviza el cambio de color */
}

.button:hover {
  background-color: #06748c;
  /* Color cuando el mouse está encima */
}

.button1 {
  width: 220px;
  height: 48px;
  /* UI Properties */
  border-radius: 10px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 0px var(--unnamed-color-919191);
  border: 1px solid var(--unnamed-color-1a1446);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 0px #919191;
  border: 1px solid #1a1446;
  opacity: 1;
}
.button2 {
  width: 220px;
  height: 48px;
  border-radius: 10px;
  font-family: "roboto Bold";
  border: 1px solid var(--unnamed-color-1a1446);
  background: #ffffff;
  box-shadow: 0px 3px 0px #919191;
  border: 1px solid #1a1446;
  color: #1a1446;
  justify-content: center;
  text-align: center;
  display: flex;
}
.div_btn.single-button {
  justify-content: center;
}
