.container {
  background-color: #e3f8f9;
  /* Fondo del contenedor */
  padding-bottom: 40px;
  width: 100%;
  min-height: 161px;
  max-height: 678px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 40px;
}

.fallo {
  top: 37px;
  width: 691px;
  height: auto;
  font-size: 16px;
  font-family: "roboto Bold";
  color: #0061f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c0bfc0;
  border-radius: 3px;
  opacity: 1;
  border-left: 4px solid #0061f5;
  margin: 30px auto;
  font-size: 16px;

  padding: 10px;
  gap: 5px;
}

.div_inf1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.div_inf {
  display: flex;
  flex-direction: column;
}

.inf2 {
  margin-left: 30px;
  color: #343741;
  font-family: "roboto Regular";
}

.icons {
  width: 16px;
  height: 16px;
}

.titulo {
  padding: 15px;
  text-align: center;
  font-family: "roboto Bold";
  font-size: 28px;
  color: #1a1446;
}

.titulo2 {
  font-size: 16px;
  text-align: center;
  color: #1a1446;
  font-family: "roboto regular";
  margin-top: 10px;
}

.popup {
  background-color: #e3f8f9;
  /* Mismo fondo que el contenedor */
  padding: 20px;
  width: 691px;
  z-index: 1000;
  margin-left: 393px;
}

.popupContent {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  font-family: "roboto regular";
}

.selectBox,
.inputBox {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cuadro {
  width: 650px;
  height: 158px;
  background-color: white;
  color: #c0bfc0;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 20px;
  border: 1px dashed #c0bfc0;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  width: 691px;
}

.checkboxGroups {
  display: flex;
  justify-content: center;
  text-align: center;
}

.lineContainer {
  width: 100%;
  height: 2px;
  background-color: #99e5ea45;
  margin: 10px 0;
}

.divCardDiscount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}