.container {
  position: relative;
  width: 375px;
  height: 50px;
  text-align: left;
  padding: 3px;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
  background-color: rgba(0, 255, 255, 0.568);
}

.p_text {
  color: #707070;
  position: absolute;
  justify-content: center;
  white-space: nowrap;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.3s ease;
}

.input {
  width: 375px;
  height: 50px;
  text-align: left !important;
  padding: 3px;
  padding-bottom: 15px !important;
  padding-top: 45px !important;
  box-sizing: border-box;
  background-color: #e6e6e6;
  border: 1px solid #919191;
  opacity: 1;
  border-radius: 5px;
}
