.InfoPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.persona {
  color: #1c1149;
  margin-bottom: 0px;
}

.information {
  margin-top: 0;
  margin-bottom: 15px;
}

.parragraf {
  margin-top: 0;
  color: #28a3af;
}

.line {
  height: 28px;
  border: 1px solid #e6e6e6;
}


.InfoPerson img {
  max-width: 100px;
  margin: 10px 0;
}

.InfoPerson form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.InfoPerson input[type="text"] {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
}

.Image {
  display: flex;
  height: 48px;
  width: 49px;
  /* top: 458px;
  left: 517px; */
}

.documents {
  color: #171046;
}

.containerCard {
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  box-shadow: 3px 6px 18px #00000040;
  width: 580px;
  height: 100px;
  top: 431px;
  left: 430px;
  column-count: 2;
  /* display: flex; */
  /* align-items: center;  */
  justify-content: center;
  /* display: grid; */
  /* grid-gap: 20px; */
}

.containerOne{
  column-count: 2;
  justify-content: center;

}

.InputForm1{
  display: flex;
  margin-left: -280px;
  padding-top: 20px;
  padding-bottom: 70px;
  gap: 50px;
}

/* .InputForm2{
  display: flex;

} */


.gender{
  height: 50px;
  width: 174px;
  background-color: #E6E6E6;
  border: 1px solid #919191;
  font-size: 13px;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;

}
.gender label {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 9px; 
  width: 104px;
  margin-top: -23px;
}






.floatingInput {
  position: relative;
  width: 350px;
  height: 50px;
  margin: 20px 0;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
}



.label {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  /* color: #28a3af;  */
}





