.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #28a3af;
    text-decoration: underline;
    font-family: "roboto regular", sans-serif;
    font-size: 18px;
}